# organize csv files

In [ ]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv("./raw_data.csv")
df

In [17]:
for i in range(len(df)):
    if df["case_id"].iloc[i][0] == "B":
        _, code, year = df["case_id"].iloc[i].split("-")
        assert int(year) < 21 and int(year) > 10
        df["case_id"].iloc[i] = year + "-" + code
    else:
        code, year = df["case_id"].iloc[i].split("-")
        if len(year) > 2:
            code, year = year, code
        assert int(year) < 21 and int(year) > 11
        df["case_id"].iloc[i] = year + "-" + code
print(len(df[df["case_id"].duplicated(False)]))
np.unique([i.split("-")[0] for i in df["case_id"].values])

0

/tmp/ipykernel_5849/2022630649.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["case_id"].iloc[i] = year + "-" + code
/tmp/ipykernel_5849/2022630649.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["case_id"].iloc[i] = year + "-" + code

array(['11', '12', '13', '14', '15', '16', '17', '18', '20'], dtype='<U2')

## other subtypes

In [18]:
df[df["subtype"] != "0"]

,subtype,case_id,case_id.1,tx_ends,birth,tanı_tarihi,exitus,exorfu_date,remission,recurrence,recorfu_date
120,endometrioid/teratom,17-6709,B-6709-17,NaN,01.10.1980,17.04.2015,0,11.12.2019,1.0,0.0,11.12.2019
121,cc,17-6551,B-6551-17,18.08.2017,25.08.1968,12.04.2017,0,25.03.2021,1.0,0.0,25.03.2021
122,endometriyozis zemininde seromüsinöz,17-4924,B-4924-17,NaN,26.10.1982,17.03.2017,1,24.02.2019,0.0,0.0,16.11.2017
123,"Seromüsinöz, mülleriant tip mikst epitelyal ka...",17-903,B-903-17,29.05.2017,17.10.1988,13.01.2017,0,27.03.2023,1.0,0.0,01.06.2020
130,cc,18-3341,B-3341-18,11.07.2018,17.01.1977,06.02.2018,1,21.02.2019,0.0,0.0,NaN
131,endometrioid,18-2798,B-2798-18,22.06.2018,27.12.1978,07.02.2018,0,24.10.2018,NaN,0.0,24.10.2018
133,mikst,18-4798,B-4798-18,25.07.2018,28.08.1953,08.03.2018,1,21.03.2022,1.0,1.0,16.01.2020
136,mikst,18-5964,B-5964-18,07.08.2018,11.07.1967,22.03.2018,1,27.09.2018,1.0,1.0,31.08.2018
138,mikst,16-6396,B-6396-16,NaN,06.03.1957,07.04.2016,1,02.11.2018,NaN,0.0,03.09.2018
142,cc,18-6137,B-6137-18,03.08.2018,15.01.1962,29.03.2018,1,27.12.2019,1.0,1.0,12.02.2019
147,Seromüsinöz-endometrioid (sağ over),20-15012,B-15012-20,05.04.2021,05.11.1964,16.11.2020,0,14.08.2023,1.0,0.0,14.08.2023

In [19]:
other_st = df[df["subtype"] != "0"]
other_st_ids = other_st["case_id"].values
df = df.drop(other_st.index)
df.shape, len(other_st_ids)

((137, 11), 11)

In [20]:
ffpe_dir = "/media/nfs/SURV/BasOVER/Slides/"
# frozen_dir = "/media/nfs/SURV/BasOVER/frozen/"
other_sites_dir = "/media/nfs/SURV/BasOVER/excluded/other_sites/"

ffpe_list = [i for i in os.listdir(ffpe_dir) if "ndpi" in i if "F" not in i]
ffpe_cases = np.unique([i.rsplit("-", 1)[0] for i in ffpe_list])
print("FFPE case/slide:", len(ffpe_cases), len(ffpe_list))
frozen_list = [i for i in os.listdir(ffpe_dir) if "ndpi" in i if "F" in i]
frozen_cases = np.unique([i.rsplit("-", 1)[0] for i in frozen_list])
print("Frozen case/slide:", len(frozen_cases), len(frozen_list))
total_cases = np.unique(list(frozen_cases)+list(ffpe_cases))
total_list = np.unique(list(frozen_list)+list(ffpe_list))
print("Total case/slide:", len(total_cases), len(total_list))

# bütün görüntülerin follow-up verisi var
assert len([i for i in ffpe_cases if i not in df["case_id"].values]) == 0 and len([i for i in frozen_cases if i not in df["case_id"].values]) == 0
both_ffpe_frozen_cases = [i for i in frozen_cases if i in ffpe_cases]
ffpe_only = [i for i in ffpe_list if i.rsplit("-", 1)[0] in both_ffpe_frozen_cases]
frozen_only = [i for i in frozen_list if i.rsplit("-", 1)[0] in both_ffpe_frozen_cases]
print("Both FFPE and Frozen olan case / only ffpe and only frozen slides: ", len(both_ffpe_frozen_cases), len(ffpe_only), len(frozen_only))

other_site_list = [i for i in os.listdir(other_sites_dir) if "ndpi" in i]
other_site_cases = np.unique([i.rsplit("-", 1)[0] for i in other_site_list])
print("Other sites total: ", len(other_site_cases), len(other_site_list))
removed_other_site_cases = [i for i in other_site_cases if i not in total_cases]
print("Sadece non-ovarian dokusu olanlar:", len(removed_other_site_cases))
[i for i in other_site_list if i.rsplit("-", 1)[0] in removed_other_site_cases]

FFPE case/slide: 122 828
Frozen case/slide: 13 101
Total case/slide: 134 929
Both FFPE and Frozen olan case / only ffpe and only frozen slides:  1 5 1
Other sites total:  6 38
Sadece non-ovarian dokusu olanlar: 3

['14-4493-LA1.ndpi',
 '14-4493-LA5.ndpi',
 '14-2087-RA4.ndpi',
 '14-2087-RA8.ndpi',
 '14-16314-RA3.ndpi',
 '14-2087-LA5.ndpi',
 '14-16314-RA11.ndpi',
 '14-16314-RA7.ndpi',
 '14-2087-LA1.ndpi',
 '14-4493-RA5.ndpi',
 '14-16314-RA2.ndpi',
 '14-2087-LA4.ndpi',
 '14-16314-RA10.ndpi',
 '14-4493-RA1.ndpi',
 '14-16314-RA6.ndpi',
 '14-2087-LA8.ndpi',
 '14-4493-LA4.ndpi',
 '14-2087-RA5.ndpi',
 '14-2087-LA6.ndpi',
 '14-16314-RA4.ndpi',
 '14-2087-RA3.ndpi',
 '14-4493-LA2.ndpi',
 '14-16314-RA8.ndpi',
 '14-2087-RA7.ndpi',
 '14-4493-LA3.ndpi',
 '14-16314-RA9.ndpi',
 '14-2087-RA6.ndpi',
 '14-16314-RA1.ndpi',
 '14-2087-LA7.ndpi',
 '14-4493-RA6.ndpi',
 '14-16314-RA5.ndpi',
 '14-2087-LA3.ndpi',
 '14-4493-RA2.ndpi']

In [21]:
df = df[~df["case_id"].isin(removed_other_site_cases)].reset_index(drop=True)
df.shape

(134, 11)

In [22]:
date_cols = ["birth", "tanı_tarihi", "exorfu_date", "recorfu_date", "tx_ends"]
print("Columns: ", date_cols)
print("Max months: ", [(df[col].str.split(".").str[1]).dropna().astype(int).max() for col in date_cols])
print("Max years: ", [(df[col].str.split(".").str[2]).dropna().astype(int).max() for col in date_cols])
print("Min years: ", [(df[col].str.split(".").str[2]).dropna().astype(int).min() for col in date_cols])

Columns:  ['birth', 'tanı_tarihi', 'exorfu_date', 'recorfu_date', 'tx_ends']
Max months:  [12, 12, 12, 12, 12]
Max years:  [1981, 2018, 2023, 2023, 2021]
Min years:  [1933, 2011, 2011, 2011, 2011]

In [23]:
print("Tanı tarihi:", pd.to_datetime(df["tanı_tarihi"], format="%d.%m.%Y").min(), pd.to_datetime(df["tanı_tarihi"], format="%d.%m.%Y").max())
print("Doğum tarihi:", pd.to_datetime(df["birth"], format="%d.%m.%Y").min(), pd.to_datetime(df["birth"], format="%d.%m.%Y").max())
print("Son tedavi tarihi:", pd.to_datetime(df["tx_ends"], format="%d.%m.%Y").min(), pd.to_datetime(df["tx_ends"], format="%d.%m.%Y").max())

Tanı tarihi: 2011-05-19 00:00:00 2018-04-09 00:00:00
Doğum tarihi: 1933-03-12 00:00:00 1981-09-25 00:00:00
Son tedavi tarihi: 2011-07-11 00:00:00 2021-07-26 00:00:00

In [24]:
df["age"] = (pd.to_datetime(df["tanı_tarihi"], format="%d.%m.%Y") - pd.to_datetime(df["birth"], format="%d.%m.%Y")).dt.days//365
df["age"].min(), df["age"].max()

(34, 84)

In [25]:
df["os_date"] = np.zeros(len(df))
for i in range(len(df)):
    if int(df["exitus"].iloc[i]) == 1:
        df["os_date"].iloc[i] = df["exorfu_date"].iloc[i]
    else:
        df["os_date"].iloc[i] = "02.08.2023"
df[df["os_date"] == 0]

/tmp/ipykernel_5849/432501363.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["os_date"].iloc[i] = "02.08.2023"

Empty DataFrame
Columns: [subtype, case_id, case_id.1, tx_ends, birth, tanı_tarihi, exitus, exorfu_date, remission, recurrence, recorfu_date, age, os_date]
Index: []

In [26]:
pd.to_datetime(df["os_date"], format="%d.%m.%Y").min(), pd.to_datetime(df["os_date"], format="%d.%m.%Y").max()

(Timestamp('2012-11-19 00:00:00'), Timestamp('2023-08-02 00:00:00'))

In [27]:
df["os_months"] = (pd.to_datetime(df["os_date"], format="%d.%m.%Y") - pd.to_datetime(df["tanı_tarihi"], format="%d.%m.%Y")).dt.days
df["os_months"] = (df["os_months"]/30).round(2)
df["os_months"].min(), df["os_months"].max()

(1.67, 148.2)

In [29]:
df["dfs_months"] = (pd.to_datetime(df["recorfu_date"], format="%d.%m.%Y") - pd.to_datetime(df["tx_ends"], format="%d.%m.%Y")).dt.days
df["dfs_months"] = (df["dfs_months"]/30).round(2)
df["dfs_months"].min(), df["dfs_months"].max()

(0.0, 144.47)

In [30]:
df["dfs_months"][df["dfs_months"] == 0] = pd.NA
df["dfs_months"].min(), df["dfs_months"].max()

/tmp/ipykernel_5849/2103648142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dfs_months"][df["dfs_months"] == 0] = pd.NA

(0.4, 144.47)

In [31]:
df

,subtype,case_id,case_id.1,tx_ends,birth,tanı_tarihi,exitus,exorfu_date,remission,recurrence,recorfu_date,age,os_date,os_months,dfs_months
0,0,11-4785,B-4785-11,07.09.2011,01.09.1974,31.05.2011,0,11.05.2023,1.0,0.0,11.05.2023,36,02.08.2023,148.20,142.13
1,0,11-7072,B-7072-11,11.07.2011,01.12.1942,28.06.2011,0,23.05.2023,1.0,0.0,23.05.2023,68,02.08.2023,147.27,144.47
2,0,11-13471,B-13471-11,NaN,10.03.1948,29.11.2011,0,29.11.2011,NaN,NaN,29.11.2011,63,02.08.2023,142.13,NaN
3,0,11-9522,B-9522-11,28.12.2011,10.01.1942,22.08.2011,1,29.10.2016,1.0,1.0,18.10.2012,69,29.10.2016,63.17,9.83
4,0,11-7007,B-7007-11,02.11.2011,17.05.1962,24.06.2011,1,18.07.2018,1.0,1.0,24.11.2011,49,18.07.2018,86.03,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,0,18-6609,B-6609-18,27.08.2018,05.04.1960,06.04.2018,1,06.09.2021,1.0,1.0,07.02.2020,58,06.09.2021,41.63,17.63
130,0,18-6152,B-6152-18,26.12.2019,28.11.1962,01.12.2017,1,15.05.2020,1.0,1.0,05.05.2020,55,15.05.2020,29.87,4.37
131,0,18-7055,B-7055-18,NaN,03.04.1966,09.04.2018,1,09.06.2018,0.0,0.0,NaN,52,09.06.2018,2.03,NaN
132,0,18-7241,B-7241-18,27.08.2018,24.03.1972,07.04.2018,0,02.08.2023,1.0,1.0,18.03.2020,46,02.08.2023,64.77,18.97
133,0,18-6616,B-6616-18,15.08.2018,04.02.1950,05.04.2018,0,06.05.2023,1.0,1.0,26.01.2021,68,02.08.2023,64.83,29.83

In [32]:
df.isna().sum()

subtype          0
case_id          0
case_id.1        0
tx_ends         47
birth            0
tanı_tarihi      0
exitus           0
exorfu_date      0
remission       10
recurrence      15
recorfu_date    35
age              0
os_date          0
os_months        0
dfs_months      58
dtype: int64

In [33]:
df.to_csv("./processed_data.csv", index=False)

In [34]:
df["exitus"].value_counts(), df["exitus"].value_counts() / len(df)

(1    87
 0    47
 Name: exitus, dtype: int64,
 1    0.649254
 0    0.350746
 Name: exitus, dtype: float64)

In [36]:
df["os_months"].describe()

count    134.000000
mean      62.658060
std       36.143492
min        1.670000
25%       32.970000
50%       57.500000
75%       93.152500
max      148.200000
Name: os_months, dtype: float64

In [37]:
df["age"].describe()

count    134.000000
mean      57.723881
std       11.630522
min       34.000000
25%       49.250000
50%       57.000000
75%       68.000000
max       84.000000
Name: age, dtype: float64

In [38]:
dfs_df = df[~df["dfs_months"].isna()]
dfs_df.isna().sum()

subtype         0
case_id         0
case_id.1       0
tx_ends         0
birth           0
tanı_tarihi     0
exitus          0
exorfu_date     0
remission       0
recurrence      0
recorfu_date    0
age             0
os_date         0
os_months       0
dfs_months      0
dtype: int64

In [44]:
dfs_df["recurrence"].value_counts(), dfs_df["recurrence"].value_counts()/len(dfs_df)

(1.0    62
 0.0    14
 Name: recurrence, dtype: int64,
 1.0    0.815789
 0.0    0.184211
 Name: recurrence, dtype: float64)

In [45]:
dfs_df["dfs_months"].describe()

count     76.000000
mean      25.640263
std       29.213954
min        0.400000
25%        7.125000
50%       17.250000
75%       35.410000
max      144.470000
Name: dfs_months, dtype: float64

# save dataset_csv

In [46]:
import os
import numpy as np
import pandas as pd
df = pd.read_csv("./processed_data.csv")
slide_dir = "/media/nfs/SURV/BasOVER/Slides/"
slide_df = pd.DataFrame({
    'slide_id': [i.rsplit(".", 1)[0] for i in os.listdir(slide_dir)],
    "case_id": [i.rsplit("-", 1)[0] for i in os.listdir(slide_dir)]
})
df = pd.merge(df, slide_df, on="case_id")
print(df.shape, len(df["case_id"].unique()))

os_df = df[["case_id", "slide_id", "age", "exitus", "os_months"]]
dfs_df = df[["case_id", "slide_id", "age", "recurrence", "dfs_months"]]
df

(929, 16) 134

,subtype,case_id,case_id.1,tx_ends,birth,tanı_tarihi,exitus,exorfu_date,remission,recurrence,recorfu_date,age,os_date,os_months,dfs_months,slide_id
0,0,11-4785,B-4785-11,07.09.2011,01.09.1974,31.05.2011,0,11.05.2023,1.0,0.0,11.05.2023,36,02.08.2023,148.20,142.13,11-4785-R02
1,0,11-7072,B-7072-11,11.07.2011,01.12.1942,28.06.2011,0,23.05.2023,1.0,0.0,23.05.2023,68,02.08.2023,147.27,144.47,11-7072-R01
2,0,11-7072,B-7072-11,11.07.2011,01.12.1942,28.06.2011,0,23.05.2023,1.0,0.0,23.05.2023,68,02.08.2023,147.27,144.47,11-7072-R02
3,0,11-7072,B-7072-11,11.07.2011,01.12.1942,28.06.2011,0,23.05.2023,1.0,0.0,23.05.2023,68,02.08.2023,147.27,144.47,11-7072-R03
4,0,11-13471,B-13471-11,NaN,10.03.1948,29.11.2011,0,29.11.2011,NaN,NaN,29.11.2011,63,02.08.2023,142.13,NaN,11-13471-L03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,0,18-6616,B-6616-18,15.08.2018,04.02.1950,05.04.2018,0,06.05.2023,1.0,1.0,26.01.2021,68,02.08.2023,64.83,29.83,18-6616-LO2
925,0,18-6616,B-6616-18,15.08.2018,04.02.1950,05.04.2018,0,06.05.2023,1.0,1.0,26.01.2021,68,02.08.2023,64.83,29.83,18-6616-LO1
926,0,18-6616,B-6616-18,15.08.2018,04.02.1950,05.04.2018,0,06.05.2023,1.0,1.0,26.01.2021,68,02.08.2023,64.83,29.83,18-6616-RO4
927,0,18-6616,B-6616-18,15.08.2018,04.02.1950,05.04.2018,0,06.05.2023,1.0,1.0,26.01.2021,68,02.08.2023,64.83,29.83,18-6616-RO5
928,0,18-6616,B-6616-18,15.08.2018,04.02.1950,05.04.2018,0,06.05.2023,1.0,1.0,26.01.2021,68,02.08.2023,64.83,29.83,18-6616-RO1

In [47]:
dfs_df = dfs_df[~dfs_df["dfs_months"].isna()]
dfs_df.shape, dfs_df.isna().sum()

((513, 5),
 case_id       0
 slide_id      0
 age           0
 recurrence    0
 dfs_months    0
 dtype: int64)

In [48]:
os_df.shape, os_df.isna().sum()

((929, 5),
 case_id      0
 slide_id     0
 age          0
 exitus       0
 os_months    0
 dtype: int64)

In [49]:
os_df["group"] = np.zeros(len(os_df))
dfs_df["group"] = np.zeros(len(dfs_df))

/tmp/ipykernel_5849/2135862653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  os_df["group"] = np.zeros(len(os_df))

In [50]:
os_df.rename(columns={
    'os_months':'survival_months',
    "exitus": "event"
}).to_csv("../../datasets_csv/baskent_os.csv", index=False)

dfs_df.rename(columns={
    'dfs_months':'survival_months',
    "recurrence": "event"
}).to_csv("../../datasets_csv/baskent_dfs.csv", index=False)

In [51]:
os_df["censorship"] = 1 - os_df["exitus"]
dfs_df["censorship"] = 1 - dfs_df["recurrence"]
os_df["censorship"].value_counts(), dfs_df["censorship"].value_counts()

/tmp/ipykernel_5849/4030651114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  os_df["censorship"] = 1 - os_df["exitus"]

(0    545
 1    384
 Name: censorship, dtype: int64,
 0.0    411
 1.0    102
 Name: censorship, dtype: int64)

In [52]:
os_df.drop(columns=["group", 'exitus']).rename(columns={
    'os_months':'survival_months'
}).to_csv("../../../PORPOISE-master/datasets_csv/baskent.csv", index=False)

dfs_df.drop(columns=["group", 'recurrence']).rename(columns={
    'dfs_months':'survival_months'
}).to_csv("../../../PORPOISE-master/datasets_csv/baskent_dfs.csv", index=False)

In [9]:
import pandas as pd
os_df = pd.read_csv("../../datasets_csv/baskent_dfs.csv")
os_df["survival_months"].describe()

count    641.000000
mean      31.567566
std       25.976836
min        0.470000
25%       13.700000
50%       25.530000
75%       40.130000
max      145.430000
Name: survival_months, dtype: float64

In [10]:
os_df.drop_duplicates("case_id")["survival_months"].describe()

count     98.000000
mean      30.373163
std       27.719446
min        0.470000
25%       12.417500
50%       22.500000
75%       34.860000
max      145.430000
Name: survival_months, dtype: float64

# Smaller set

In [1]:
import pandas as pd
import os

slide_dir = "/media/nfs/SURV/BasOVER/Slides"
os.listdir(slide_dir)

['14-11184-RO7.ndpi',
 '14-14858-LO3.ndpi',
 '14-8746-RO4.ndpi',
 '12-15483-R02.ndpi',
 '15-16767-RO3.ndpi',
 '17-7335-FA1.ndpi',
 '16-8203-RO7.ndpi',
 '17-4944-RO3.ndpi',
 '17-6176-LO6.ndpi',
 '14-9495-LO3.ndpi',
 '15-9067-RO9.ndpi',
 '18-1778-LO2.ndpi',
 '17-5007-LO3.ndpi',
 '16-20015-RO6.ndpi',
 '18-2250-LO5.ndpi',
 '15-529-FA3.ndpi',
 '16-3257-RO4.ndpi',
 '15-9067-RO10.ndpi',
 '15-16623-RO7.ndpi',
 '11-7007-R02.ndpi',
 '17-656-LO6.ndpi',
 '18-7055-RO1.ndpi',
 '15-19538-RO2.ndpi',
 '15-4423-FA3.ndpi',
 '15-20286-LO2.ndpi',
 '13-2387-R06.ndpi',
 '15-9067-LO4.ndpi',
 '16-9437-RO5.ndpi',
 '17-11513-LO3.ndpi',
 '15-4423-FG1.ndpi',
 '14-7175-LO5.ndpi',
 '15-15742-RO2.ndpi',
 '18-6152-RO5.ndpi',
 '12-13052-R04.ndpi',
 '15-9187-RO6.ndpi',
 '14-4964-LO1.ndpi',
 '14-12411-LO3.ndpi',
 '15-16949-LO6.ndpi',
 '12-8444-R005.ndpi',
 '16-4783-FA6.ndpi',
 '18-5307-FA2.ndpi',
 '16-4273-RO5.ndpi',
 '18-455-LO8.ndpi',
 '12-14430-R07.ndpi',
 '17-11122-LO5.ndpi',
 '15-12884-LO3.ndpi',
 '11-5184-R07.ndpi',
 '14-7853-RO4.ndpi',
 '17-2739-RO8.ndpi',
 '18-5989-FA8.ndpi',
 '14-8974-RO2.ndpi',
 '16-3500-LO5.ndpi',
 '15-3334-RO7.ndpi',
 '14-5697-LO7.ndpi',
 '16-17586-RO3.ndpi',
 '18-1009-FA1.ndpi',
 '14-174-RO4.ndpi',
 '11-11489-R03.ndpi',
 '15-19538-RO6.ndpi',
 '18-7055-RO5.ndpi',
 '12-13694-R02.ndpi',
 '15-14684-LO3.ndpi',
 '16-2784-LO12.ndpi',
 '13-15870-L02.ndpi',
 '11-13652-R01.ndpi',
 '15-20564-RO1.ndpi',
 '17-11127-FA4.ndpi',
 '17-2867-RO2.ndpi',
 '15-4423-FA7.ndpi',
 '14-18992-RO4.ndpi',
 '17-656-RO.ndpi',
 '16-9437-RO1.ndpi',
 '13-2387-R02.ndpi',
 '17-7335-FA5.ndpi',
 '12-15483-R06.ndpi',
 '11-7072-R01.ndpi',
 '14-11184-RO3.ndpi',
 '15-20812-FA9.ndpi',
 '17-6176-LO2.ndpi',
 '14-1956-RO4.ndpi',
 '14-16939-LO4.ndpi',
 '14-8324-RO03.ndpi',
 '16-8203-RO3.ndpi',
 '14-21838-R02.ndpi',
 '18-5196-RO8.ndpi',
 '14-9495-LO7.ndpi',
 '17-5007-LO10.ndpi',
 '18-6616-RO3.ndpi',
 '18-1778-LO6.ndpi',
 '16-20015-RO2.ndpi',
 '17-5007-LO7.ndpi',
 '18-2250-LO1.ndpi',
 '17-11127-FA12.ndpi',
 '17-11122-LO1.ndpi',
 '15-14920-LO3.ndpi',
 '14-15210-RO2.ndpi',
 '14-8974-RO6.ndpi',
 '16-5375-LO5.ndpi',
 '16-69-RO2.ndpi',
 '11-5184-R03.ndpi',
 '14-5697-LO3.ndpi',
 '15-3334-RO3.ndpi',
 '14-6292-RO4.ndpi',
 '16-5275-RO2.ndpi',
 '16-3147-RO3.ndpi',
 '15-18391-LO3.ndpi',
 '17-7977-RO3.ndpi',
 '14-6348-RO4.ndpi',
 '14-4964-RO8.ndpi',
 '15-6692-LO8.ndpi',
 '18-6152-RO1.ndpi',
 '14-7175-LO1.ndpi',
 '12-15852-R02.ndpi',
 '18-4219-RO4.ndpi',
 '15-9187-RO2.ndpi',
 '17-11437-RO2.ndpi',
 '14-3672-LO8.ndpi',
 '16-2784-LO1.ndpi',
 '18-5307-FA6.ndpi',
 '14-5041-LO1.ndpi',
 '16-4783-FA2.ndpi',
 '12-8444-R001.ndpi',
 '14-6348-LO9.ndpi',
 '18-6020-RO4.ndpi',
 '15-6692-RO5.ndpi',
 '12-14430-R03.ndpi',
 '18-6609-RO3.ndpi',
 '16-4273-RO1.ndpi',
 '17-9697-RO7.ndpi',
 '15-14920-RO2.ndpi',
 '14-12342-LO1.ndpi',
 '14-7853-LO1.ndpi',
 '16-5375-RO4.ndpi',
 '14-7175-RO13.ndpi',
 '15-12884-RO6.ndpi',
 '14-5697-RO2.ndpi',
 '16-3147-LO2.ndpi',
 '18-6020-RO8.ndpi',
 '14-6348-LO5.ndpi',
 '14-174-LO1.ndpi',
 '15-12615-RO3.ndpi',
 '12-11795-R01.ndpi',
 '17-7076-LO2.ndpi',
 '12-11142-RO5.ndpi',
 '15-3981-RO7.ndpi',
 '15-9187-LO3.ndpi',
 '18-2315-LO4.ndpi',
 '14-6348-RO8.ndpi',
 '14-4964-RO4.ndpi',
 '18-6020-LO5.ndpi',
 '11-13471-L03.ndpi',
 '15-6692-LO4.ndpi',
 '15-9536-FA2.ndpi',
 '13-15870-LO5.ndpi',
 '18-6609-LO2.ndpi',
 '15-15099-RO1.ndpi',
 '18-7055-LO4.ndpi',
 '15-14684-RO2.ndpi',
 '17-7335-FA9.ndpi',
 '15-20812-FA5.ndpi',
 '17-2867-LO3.ndpi',
 '15-15582-RO2.ndpi',
 '11-4785-R02.ndpi',
 '15-20812-FA16.ndpi',
 '15-3981-RO15.ndpi',
 '14-8324-LO1.ndpi',
 '16-9291-RO3.ndpi',
 '18-5196-RO4.ndpi',
 '17-11127-FA8.ndpi',
 '15-529-FA10.ndpi',
 '18-7241-RO6.ndpi',
 '14-11184-LO2.ndpi',
 '17-6176-RO3.ndpi',
 '14-20746-R02.ndpi',
 '13-16435-R06.ndpi',
 '17-1796-RO3.ndpi',
 '16-8203-LO2.ndpi',
 '16-9213-LO4.ndpi',
 '14-9495-RO6.ndpi',
 '18-6616-LO2.ndpi',
 '16-3257-LO1.ndpi',
 '17-5007-RO6.ndpi',
 '17-2739-RO4.ndpi',
 '12-11142-RO1.ndpi',
 '18-5989-FA4.ndpi',
 '14-5459-RO3.ndpi',
 '15-12615-RO7.ndpi',
 '18-6152-LO4.ndpi',
 '15-3981-RO3.ndpi',
 '18-6020-LO1.ndpi',
 '14-174-RO8.ndpi',
 '12-13694-RO1.ndpi',
 '16-5829-RO2.ndpi',
 '11-13652-RO2.ndpi',
 '16-3500-LO9.ndpi',
 '15-9536-FA6.ndpi',
 '13-2682-R04.ndpi',
 '15-3837-RO1.ndpi',
 '17-11122-RO4.ndpi',
 '15-14920-RO6.ndpi',
 '16-2784-LO9.ndpi',
 '15-19009-RO2.ndpi',
 '15-12884-RO2.ndpi',
 '14-7175-RO17.ndpi',
 '14-8974-LO3.ndpi',
 '14-5697-RO6.ndpi',
 '14-6292-LO1.ndpi',
 '18-455-LO4.ndpi',
 '14-6348-LO1.ndpi',
 '12-8444-R009.ndpi',
 '18-7241-RO2.ndpi',
 '15-20564-RO9.ndpi',
 '16-4783-FA12.ndpi',
 '18-5989-FA11.ndpi',
 '17-11437-RO.ndpi',
 '14-14858-RO2.ndpi',
 '15-18140-RO3.ndpi',
 '17-1796-RO7.ndpi',
 '14-16939-RO1.ndpi',
 '17-6176-RO7.ndpi',
 '14-9495-RO2.ndpi',
 '16-9437-RO9.ndpi',
 '17-5007-RO2.ndpi',
 '18-2250-RO4.ndpi',
 '14-9959-LO2.ndpi',
 '15-7889-LO1.ndpi',
 '18-1719-RO2.ndpi',
 '11-9522-R02.ndpi',
 '15-20812-FA1.ndpi',
 '11-11791-R04.ndpi',
 '15-3981-RO11.ndpi',
 '16-3257-RO8.ndpi',
 '17-6922-LO3.ndpi',
 '14-12678-FA1.ndpi',
 '15-9067-RO5.ndpi',
 '17-11513-RO2.ndpi',
 '14-8324-LO5.ndpi',
 '16-9291-RO7.ndpi',
 '16-5375-RO5.ndpi',
 '16-69-LO2.ndpi',
 '15-12884-RO7.ndpi',
 '14-8974-LO6.ndpi',
 '17-11122-RO1.ndpi',
 '15-14920-RO3.ndpi',
 '17-9697-RO6.ndpi',
 '17-7977-LO3.ndpi',
 '16-3147-LO3.ndpi',
 '16-3500-RO1.ndpi',
 '18-455-LO1.ndpi',
 '13-12838-R01.ndpi',
 '14-5697-RO3.ndpi',
 '16-5275-LO2.ndpi',
 '17-11437-LO2.ndpi',
 '15-3981-RO6.ndpi',
 '15-9187-LO2.ndpi',
 '17-2739-RO1.ndpi',
 '18-5989-FA1.ndpi',
 '18-6152-LO1.ndpi',
 '15-12615-RO2.ndpi',
 '18-6609-LO3.ndpi',
 '16-4273-LO1.ndpi',
 '15-9536-FA3.ndpi',
 '13-15870-LO4.ndpi',
 '13-2682-R01.ndpi',
 '15-16949-RO2.ndpi',
 '11-13471-L02.ndpi',
 '18-6020-LO4.ndpi',
 '14-6348-RO9.ndpi',
 '15-6692-LO5.ndpi',
 '14-5041-RO1.ndpi',
 '15-20564-LO1.ndpi',
 '17-2867-LO2.ndpi',
 '17-7335-FA8.ndpi',
 '15-7889-LO4.ndpi',
 '18-1778-LO.ndpi',
 '18-7055-LO5.ndpi',
 '14-12678-FA4.ndpi',
 '18-5196-RO5.ndpi',
 '16-9291-RO2.ndpi',
 '16-9437-LO1.ndpi',
 '11-11791-R01.ndpi',
 '17-9697-LO.ndpi',
 '16-8203-LO3.ndpi',
 '17-6176-RO2.ndpi',
 '13-16435-R07.ndpi',
 '17-1796-RO2.ndpi',
 '14-11184-LO3.ndpi',
 '17-5007-RO7.ndpi',
 '18-2250-RO1.ndpi',
 '14-15210-R04.ndpi',
 '14-3672-RO.ndpi',
 '15-9187-LO6.ndpi',
 '14-13782-RO.ndpi',
 '15-12615-RO6.ndpi',
 '18-6152-LO5.ndpi',
 '17-2739-RO5.ndpi',
 '18-5989-FA5.ndpi',
 '14-5459-RO2.ndpi',
 '12-11795-R04.ndpi',
 '15-9536-FA7.ndpi',
 '13-2682-R05.ndpi',
 '12-6649-R01.ndpi',
 '15-6692-LO10.ndpi',
 '16-4273-LO5.ndpi',
 '11-13652-RO3.ndpi',
 '13-17236-FA5.ndpi',
 '16-3500-LO8.ndpi',
 '15-6692-LO1.ndpi',
 '14-12678-FG2.ndpi',
 '18-2315-LO1.ndpi',
 '14-12411-RO3.ndpi',
 '14-174-RO9.ndpi',
 '14-8974-LO2.ndpi',
 '15-12884-RO3.ndpi',
 '14-12342-LO4.ndpi',
 '15-19009-RO3.ndpi',
 '17-9697-RO2.ndpi',
 '17-11122-RO5.ndpi',
 '15-14920-RO7.ndpi',
 '15-1058-RO3.ndpi',
 '14-3672-LO1.ndpi',
 '16-2784-LO8.ndpi',
 '12-8444-R008.ndpi',
 '14-174-LO4.ndpi',
 '14-5697-RO7.ndpi',
 '14-8746-R02.ndpi',
 '18-455-LO5.ndpi',
 '16-4273-RO8.ndpi',
 '15-18140-RO2.ndpi',
 '17-4944-LO3.ndpi',
 '17-1796-RO6.ndpi',
 '13-16435-R03.ndpi',
 '14-14858-RO3.ndpi',
 '18-7241-RO3.ndpi',
 '15-20564-RO8.ndpi',
 '18-5989-FA10.ndpi',
 '18-1778-RO2.ndpi',
 '18-2250-RO5.ndpi',
 '16-9213-LO1.ndpi',
 '16-9437-RO8.ndpi',
 '15-15582-RO7.ndpi',
 '12-8444-R010.ndpi',
 '15-19538-LO2.ndpi',
 '18-7055-LO1.ndpi',
 '15-9067-RO4.ndpi',
 '17-11513-RO3.ndpi',
 '18-5196-RO1.ndpi',
 '11-11791-R05.ndpi',
 '15-3981-RO10.ndpi',
 '17-6922-LO2.ndpi',
 '15-20286-RO2.ndpi',
 '14-1956-RO1.ndpi',
 '17-4944-RO2.ndpi',
 '17-1796-LO7.ndpi',
 '14-16939-LO1.ndpi',
 '13-16435-L02.ndpi',
 '16-8203-RO6.ndpi',
 '14-8746-RO5.ndpi',
 '14-14858-LO2.ndpi',
 '12-15483-R03.ndpi',
 '14-11184-RO6.ndpi',
 '11-11791-R09.ndpi',
 '18-1778-LO3.ndpi',
 '16-20015-RO7.ndpi',
 '18-2250-LO4.ndpi',
 '15-529-FA2.ndpi',
 '14-8324-LO8.ndpi',
 '15-9067-RO8.ndpi',
 '14-9429-LO1.ndpi',
 '17-11127-FA1.ndpi',
 '15-4423-FA2.ndpi',
 '18-1719-LO2.ndpi',
 '11-7007-R03.ndpi',
 '17-656-LO7.ndpi',
 '15-19538-RO3.ndpi',
 '14-9959-RO2.ndpi',
 '16-9437-RO4.ndpi',
 '17-11513-LO2.ndpi',
 '14-18992-RO1.ndpi',
 '16-2784-LO4.ndpi',
 '14-7175-LO4.ndpi',
 '15-15742-RO3.ndpi',
 '18-6152-RO4.ndpi',
 '18-4219-RO1.ndpi',
 '12-13380-R04.ndpi',
 '12-14430-R06.ndpi',
 '16-4273-RO4.ndpi',
 '12-8444-R004.ndpi',
 '18-5307-FA3.ndpi',
 '16-5829-LO2.ndpi',
 '18-6020-RO1.ndpi',
 '14-12411-LO2.ndpi',
 '15-16949-LO7.ndpi',
 '14-8974-RO3.ndpi',
 '11-5184-R06.ndpi',
 '14-12342-RO5.ndpi',
 '18-5989-FA9.ndpi',
 '17-11122-LO4.ndpi',
 '15-14920-LO6.ndpi',
 '14-174-RO5.ndpi',
 '14-6348-RO1.ndpi',
 '15-3334-RO6.ndpi',
 '14-5697-LO6.ndpi',
 '14-6292-RO1.ndpi',
 '16-17586-RO2.ndpi',
 '16-3500-LO4.ndpi',
 '15-15099-RO8.ndpi',
 '17-2867-RO3.ndpi',
 '15-4423-FA6.ndpi',
 '14-9959-RO6.ndpi',
 '15-19538-RO7.ndpi',
 '18-7055-RO4.ndpi',
 '12-13694-R03.ndpi',
 '17-656-LO3.ndpi',
 '15-14684-LO2.ndpi',
 '13-2387-R03.ndpi',
 '15-9067-LO1.ndpi',
 '14-21838-R03.ndpi',
 '17-6176-LO3.ndpi',
 '14-1956-RO5.ndpi',
 '17-1796-LO3.ndpi',
 '14-16939-LO5.ndpi',
 '14-11184-RO2.ndpi',
 '15-16767-RO6.ndpi',
 '17-7335-FA4.ndpi',
 '14-8746-RO1.ndpi',
 '15-529-FA6.ndpi',
 '18-1778-LO7.ndpi',
 '16-20015-RO3.ndpi',
 '17-5007-LO6.ndpi',
 '15-16623-RO2.ndpi',
 '15-20812-FO1.ndpi',
 '14-12678-FA8.ndpi',
 '16-9213-RO4.ndpi',
 '16-5375-LO4.ndpi',
 '16-69-RO3.ndpi',
 '14-7853-RO1.ndpi',
 '14-12342-RO1.ndpi',
 '11-5184-R02.ndpi',
 '14-15210-RO3.ndpi',
 '14-8974-RO7.ndpi',
 '17-11127-FA13.ndpi',
 '15-14920-LO2.ndpi',
 '14-4964-RO9.ndpi',
 '18-6020-LO8.ndpi',
 '15-6692-LO9.ndpi',
 '11-10996-R02.ndpi',
 '14-174-RO1.ndpi',
 '15-18391-LO2.ndpi',
 '17-7977-RO2.ndpi',
 '16-3147-RO2.ndpi',
 '14-19139-LO2.ndpi',
 '14-5697-LO2.ndpi',
 '15-3334-RO2.ndpi',
 '14-3672-LO9.ndpi',
 '15-9187-RO3.ndpi',
 '17-7076-RO2.ndpi',
 '18-4219-RO5.ndpi',
 '18-6609-RO2.ndpi',
 '12-14430-R02.ndpi',
 '14-12411-LO6.ndpi',
 '15-16949-LO3.ndpi',
 '18-6020-RO5.ndpi',
 '14-6348-LO8.ndpi',
 '14-4964-LO4.ndpi',
 '18-5307-FA7.ndpi',
 '16-3147-LO1.ndpi',
 '16-3500-RO3.ndpi',
 '18-455-LO3.ndpi',
 '13-12838-R03.ndpi',
 '14-5697-RO1.ndpi',
 '14-6348-LO6.ndpi',
 '14-174-LO2.ndpi',
 '15-18391-RO1.ndpi',
 '17-7977-LO1.ndpi',
 '18-5307-FA9.ndpi',
 '14-3672-LO7.ndpi',
 '17-11122-RO3.ndpi',
 '15-14920-RO1.ndpi',
 '15-1058-RO5.ndpi',
 '15-19009-RO5.ndpi',
 '17-9697-RO4.ndpi',
 '14-7853-LO2.ndpi',
 '14-12342-LO2.ndpi',
 '15-12884-RO5.ndpi',
 '11-11791-RO8.ndpi',
 '14-12411-RO5.ndpi',
 '14-11139-RO2.ndpi',
 '18-6020-LO6.ndpi',
 '14-4964-RO7.ndpi',
 '15-6692-LO7.ndpi',
 '14-5041-RO3.ndpi',
 '13-17236-FA3.ndpi',
 '18-6609-LO1.ndpi',
 '16-4273-LO3.ndpi',
 '13-2682-R03.ndpi',
 '14-5459-RO4.ndpi',
 '17-7076-LO1.ndpi',
 '17-2739-RO3.ndpi',
 '18-5989-FA3.ndpi',
 '18-6152-LO3.ndpi',
 '14-7175-RO3.ndpi',
 '15-3981-RO4.ndpi',
 '15-529-FA8.ndpi',
 '15-20812-FA15.ndpi',
 '11-11791-R03.ndpi',
 '14-9495-LO8.ndpi',
 '18-5196-RO7.ndpi',
 '14-11139-LO.ndpi',
 '14-9959-LO5.ndpi',
 '15-20812-FA6.ndpi',
 '15-15582-RO1.ndpi',
 '15-16767-RO8.ndpi',
 '14-9495-RO5.ndpi',
 '17-5007-RO5.ndpi',
 '18-2250-RO3.ndpi',
 '18-6616-LO1.ndpi',
 '16-3257-LO2.ndpi',
 '15-16767-FA12.ndpi',
 '15-4423-FA8.ndpi',
 '14-11184-LO1.ndpi',
 '12-8444-RO07.ndpi',
 '16-8203-LO1.ndpi',
 '14-20746-R01.ndpi',
 '13-16435-R05.ndpi',
 '15-18140-RO4.ndpi',
 '16-5829-RO1.ndpi',
 '11-13471-L04.ndpi',
 '18-6020-LO2.ndpi',
 '14-4964-RO3.ndpi',
 '15-6692-LO3.ndpi',
 '14-12411-RO1.ndpi',
 '15-9536-FA5.ndpi',
 '14-5697-LO8.ndpi',
 '15-3837-RO2.ndpi',
 '12-6649-R03.ndpi',
 '15-15099-RO6.ndpi',
 '13-17236-FA7.ndpi',
 '15-12615-RO4.ndpi',
 '15-6692-RO10.ndpi',
 '18-5989-FA7.ndpi',
 '12-11142-RO2.ndpi',
 '15-9187-LO4.ndpi',
 '12-14430-R08.ndpi',
 '14-6292-LO2.ndpi',
 '16-5275-LO4.ndpi',
 '18-455-LO7.ndpi',
 '15-18391-RO5.ndpi',
 '16-4783-FA9.ndpi',
 '15-15099-RO11.ndpi',
 '15-19009-RO1.ndpi',
 '15-14920-RO5.ndpi',
 '14-3672-LO3.ndpi',
 '15-16623-R03.ndpi',
 '15-12884-RO1.ndpi',
 '16-69-LO4.ndpi',
 '14-9429-RO2.ndpi',
 '17-5007-RO1.ndpi',
 '14-14858-RO1.ndpi',
 '12-9468-R03.ndpi',
 '18-7241-RO1.ndpi',
 '16-4783-FA11.ndpi',
 '18-5989-FA12.ndpi',
 '11-10996-RO3.ndpi',
 '11-13079-L03.ndpi',
 '15-3981-RO12.ndpi',
 '16-20015-RO9.ndpi',
 '17-11513-RO1.ndpi',
 '14-8324-LO6.ndpi',
 '16-9291-RO4.ndpi',
 '18-5196-RO3.ndpi',
 '18-1719-RO1.ndpi',
 '11-9522-R01.ndpi',
 '15-14684-RO5.ndpi',
 '18-7055-LO3.ndpi',
 '14-9959-LO1.ndpi',
 '16-8203-RO8.ndpi',
 '15-7889-LO2.ndpi',
 '15-15582-RO5.ndpi',
 '15-20812-FA2.ndpi',
 '14-11184-RO8.ndpi',
 '16-9213-RO2.ndpi',
 '18-6616-RO4.ndpi',
 '18-1778-LO1.ndpi',
 '12-15483-R01.ndpi',
 '17-7335-FA2.ndpi',
 '14-11184-RO4.ndpi',
 '14-1956-RO3.ndpi',
 '14-6348-LO10.ndpi',
 '15-18140-LO1.ndpi',
 '17-1796-LO5.ndpi',
 '14-16939-LO3.ndpi',
 '17-6176-LO5.ndpi',
 '14-21838-R05.ndpi',
 '14-18992-RO3.ndpi',
 '15-20286-LO1.ndpi',
 '15-9067-LO7.ndpi',
 '16-9437-RO6.ndpi',
 '13-2387-R05.ndpi',
 '11-7007-R01.ndpi',
 '15-14684-LO4.ndpi',
 '17-1796-RO8.ndpi',
 '18-7055-RO2.ndpi',
 '17-11127-FA3.ndpi',
 '15-20564-RO6.ndpi',
 '16-4783-FA5.ndpi',
 '18-5307-FA1.ndpi',
 '18-6020-RO3.ndpi',
 '14-4964-LO2.ndpi',
 '15-6692-RO2.ndpi',
 '15-16949-LO5.ndpi',
 '12-14430-R04.ndpi',
 '16-4273-RO6.ndpi',
 '14-7175-LO6.ndpi',
 '15-15742-RO1.ndpi',
 '15-4423-FG2.ndpi',
 '14-5459-LO1.ndpi',
 '14-7175-RO18.ndpi',
 '18-4219-RO3.ndpi',
 '15-9187-RO5.ndpi',
 '16-2784-LO6.ndpi',
 '17-11437-RO5.ndpi',
 '15-14920-RO9.ndpi',
 '14-5697-LO4.ndpi',
 '15-9536-FA9.ndpi',
 '15-3334-RO4.ndpi',
 '14-6292-RO3.ndpi',
 '16-3500-LO6.ndpi',
 '16-9291-LO.ndpi',
 '17-7977-RO4.ndpi',
 '15-18391-LO4.ndpi',
 '18-1009-FA2.ndpi',
 '14-6348-RO3.ndpi',
 '17-11122-LO6.ndpi',
 '15-14920-LO4.ndpi',
 '15-12615-RO8.ndpi',
 '11-5184-R04.ndpi',
 '16-5375-LO2.ndpi',
 '14-7853-RO7.ndpi',
 '14-9495-RO9.ndpi',
 '13-2387-R01.ndpi',
 '16-9437-RO2.ndpi',
 '17-11513-LO4.ndpi',
 '16-2784-LO11.ndpi',
 '14-9959-RO4.ndpi',
 '18-7055-RO6.ndpi',
 '15-19538-RO5.ndpi',
 '11-7007-R05.ndpi',
 '17-656-LO1.ndpi',
 '15-20564-RO2.ndpi',
 '17-2867-RO1.ndpi',
 '17-11127-FA7.ndpi',
 '15-4423-FA4.ndpi',
 '13-15870-L01.ndpi',
 '14-9495-LO4.ndpi',
 '15-529-FA4.ndpi',
 '17-5007-LO4.ndpi',
 '16-20015-RO1.ndpi',
 '16-3257-RO3.ndpi',
 '17-7335-FA12.ndpi',
 '11-7072-R02.ndpi',
 '17-7335-FA6.ndpi',
 '14-14858-LO4.ndpi',
 '14-8746-RO3.ndpi',
 '12-15483-R05.ndpi',
 '14-21838-R01.ndpi',
 '17-6176-LO1.ndpi',
 '15-18140-LO5.ndpi',
 '17-1796-LO1.ndpi',
 '14-16939-LO7.ndpi',
 '16-17586-RO4.ndpi',
 '16-5275-RO1.ndpi',
 '14-6348-RO7.ndpi',
 '15-3981-RO8.ndpi',
 '14-12342-RO3.ndpi',
 '16-69-RO1.ndpi',
 '14-7853-RO3.ndpi',
 '15-12884-LO4.ndpi',
 '14-15210-RO1.ndpi',
 '14-12411-LO4.ndpi',
 '15-16949-LO1.ndpi',
 '18-6020-RO7.ndpi',
 '15-6692-RO6.ndpi',
 '18-5307-FA5.ndpi',
 '14-5041-LO2.ndpi',
 '16-4783-FA1.ndpi',
 '12-8444-R002.ndpi',
 '16-4273-RO2.ndpi',
 '12-13380-R02.ndpi',
 '18-4219-RO7.ndpi',
 '17-2739-LO2.ndpi',
 '18-6152-RO2.ndpi',
 '12-15852-R01.ndpi',
 '14-7175-LO2.ndpi',
 '15-15742-RO5.ndpi',
 '16-2784-LO2.ndpi',
 '12-13052-R03.ndpi',
 '17-9697-RO8.ndpi',
 '16-20015-RO4.ndpi',
 '15-529-FA1.ndpi',
 '15-16623-RO5.ndpi',
 '18-6616-RO5.ndpi',
 '14-9495-LO1.ndpi',
 '14-9429-LO2.ndpi',
 '16-9213-RO3.ndpi',
 '14-21838-R04.ndpi',
 '16-8203-RO5.ndpi',
 '14-1956-RO2.ndpi',
 '17-1796-LO4.ndpi',
 '13-16435-L01.ndpi',
 '14-11184-RO5.ndpi',
 '14-14858-LO1.ndpi',
 '15-16767-RO1.ndpi',
 '17-7335-FA3.ndpi',
 '13-2387-R04.ndpi',
 '17-11513-LO1.ndpi',
 '12-11142-R04.ndpi',
 '14-18992-RO2.ndpi',
 '17-2867-RO4.ndpi',
 '15-20564-RO7.ndpi',
 '14-9959-RO1.ndpi',
 '18-1719-LO1.ndpi',
 '17-656-LO4.ndpi',
 '18-7055-RO3.ndpi',
 '14-4964-LO3.ndpi',
 '18-6020-RO2.ndpi',
 '15-6692-RO3.ndpi',
 '14-12411-LO1.ndpi',
 '16-4783-FA4.ndpi',
 '16-5829-LO1.ndpi',
 '16-2784-LO7.ndpi',
 '15-14920-RO8.ndpi',
 '15-9187-RO4.ndpi',
 '15-4423-FG3.ndpi',
 '14-7175-RO19.ndpi',
 '14-7175-LO7.ndpi',
 '14-174-RO6.ndpi',
 '18-1009-FA3.ndpi',
 '11-11489-R01.ndpi',
 '15-18391-LO5.ndpi',
 '16-3500-LO7.ndpi',
 '15-9536-FA8.ndpi',
 '14-5697-LO5.ndpi',
 '15-3334-RO5.ndpi',
 '16-17586-RO1.ndpi',
 '14-6292-RO2.ndpi',
 '16-5275-RO4.ndpi',
 '15-12884-LO1.ndpi',
 '11-5184-R05.ndpi',
 '14-7853-RO6.ndpi',
 '16-5375-LO3.ndpi',
 '17-11122-LO7.ndpi',
 '15-14920-LO5.ndpi',
 '17-11127-FA14.ndpi',
 '14-9495-RO8.ndpi',
 '15-20564-RO3.ndpi',
 '17-11127-FA6.ndpi',
 '11-7007-R04.ndpi',
 '15-14684-LO1.ndpi',
 '14-9959-RO5.ndpi',
 '15-20812-FO2.ndpi',
 '18-6616-RO1.ndpi',
 '15-529-FA5.ndpi',
 '18-1778-LO4.ndpi',
 '17-5007-LO5.ndpi',
 '18-2250-LO3.ndpi',
 '15-18140-LO4.ndpi',
 '14-8324-RO01.ndpi',
 '16-8203-RO1.ndpi',
 '15-16767-RO5.ndpi',
 '17-7335-FA7.ndpi',
 '12-15483-R04.ndpi',
 '11-7072-R03.ndpi',
 '14-11184-RO1.ndpi',
 '15-18391-LO1.ndpi',
 '17-7977-RO1.ndpi',
 '14-6348-RO6.ndpi',
 '11-13079-LO1.ndpi',
 '11-10996-R01.ndpi',
 '14-174-RO2.ndpi',
 '14-19139-LO1.ndpi',
 '12-9468-RO1.ndpi',
 '15-3334-RO1.ndpi',
 '14-5697-LO1.ndpi',
 '16-3147-RO1.ndpi',
 '16-3500-LO3.ndpi',
 '14-12342-RO2.ndpi',
 '14-7853-RO2.ndpi',
 '11-5184-R01.ndpi',
 '15-3981-RO9.ndpi',
 '17-11127-FA10.ndpi',
 '17-11122-LO3.ndpi',
 '15-14920-LO1.ndpi',
 '12-14430-R01.ndpi',
 '12-13380-R03.ndpi',
 '18-6609-RO1.ndpi',
 '16-4273-RO3.ndpi',
 '18-5307-FA4.ndpi',
 '12-8444-R003.ndpi',
 '14-12411-LO5.ndpi',
 '17-9697-RO9.ndpi',
 '16-2784-LO3.ndpi',
 '12-13052-R02.ndpi',
 '18-6152-RO3.ndpi',
 '14-7175-LO3.ndpi',
 '15-15742-RO4.ndpi',
 '14-5459-LO4.ndpi',
 '17-7076-RO1.ndpi',
 '15-12884-RO8.ndpi',
 '18-4219-RO6.ndpi',
 '17-2739-LO3.ndpi',
 '18-5307-FA8.ndpi',
 '14-6348-LO7.ndpi',
 '14-174-LO3.ndpi',
 '15-3334-RO10.ndpi',
 '18-455-LO2.ndpi',
 '13-12838-R02.ndpi',
 '16-5275-LO1.ndpi',
 '16-3500-RO2.ndpi',
 '16-69-LO1.ndpi',
 '14-12342-LO3.ndpi',
 '15-12884-RO4.ndpi',
 '14-7175-RO11.ndpi',
 '15-19009-RO4.ndpi',
 '17-9697-RO5.ndpi',
 '14-3672-LO6.ndpi',
 '17-11122-RO2.ndpi',
 '15-1058-RO4.ndpi',
 '13-2682-R02.ndpi',
 '14-7175-RO20.ndpi',
 '13-17236-FA2.ndpi',
 '16-4273-LO2.ndpi',
 '14-5041-RO2.ndpi',
 '14-12411-RO4.ndpi',
 '15-16949-RO1.ndpi',
 '14-11139-RO3.ndpi',
 '14-4964-RO6.ndpi',
 '11-13471-L01.ndpi',
 '18-6020-LO7.ndpi',
 '15-3981-RO5.ndpi',
 '15-9187-LO1.ndpi',
 '17-11437-LO1.ndpi',
 '18-6152-LO2.ndpi',
 '14-7175-RO2.ndpi',
 '15-12615-RO1.ndpi',
 '12-11795-R03.ndpi',
 '16-9291-RO1.ndpi',
 '15-9067-RO3.ndpi',
 '16-9437-LO2.ndpi',
 '17-11513-RO4.ndpi',
 '14-9495-LO9.ndpi',
 '14-12678-FA7.ndpi',
 '18-5196-RO6.ndpi',
 '17-6922-LO5.ndpi',
 '11-11791-R02.ndpi',
 '17-5007-LO9.ndpi',
 '15-529-FA9.ndpi',
 '15-20564-LO2.ndpi',
 '17-2867-LO1.ndpi',
 '18-7055-LO6.ndpi',
 '14-9959-LO4.ndpi',
 '18-2250-RO2.ndpi',
 '16-9213-LO6.ndpi',
 '14-9495-RO4.ndpi',
 '17-6176-RO1.ndpi',
 '13-16435-R04.ndpi',
 '11-11489-RO2.ndpi',
 '17-1796-RO1.ndpi',
 '17-4944-LO4.ndpi',
 '12-8444-RO06.ndpi',
 '14-14858-RO4.ndpi',
 '18-7241-RO4.ndpi',
 '15-15099-RO7.ndpi',
 '13-17236-FA6.ndpi',
 '15-3334-RO9.ndpi',
 '13-15870-LO3.ndpi',
 '15-3837-RO3.ndpi',
 '13-2682-R06.ndpi',
 '12-6649-R02.ndpi',
 '14-4964-RO2.ndpi',
 '18-6020-LO3.ndpi',
 '15-6692-LO2.ndpi',
 '14-12678-FG1.ndpi',
 '15-14920-LO9.ndpi',
 '15-9187-LO5.ndpi',
 '15-3981-RO1.ndpi',
 '17-2739-RO6.ndpi',
 '18-5989-FA6.ndpi',
 '12-11142-RO3.ndpi',
 '14-5459-RO1.ndpi',
 '15-12615-RO5.ndpi',
 '14-6348-LO3.ndpi',
 '17-7977-LO4.ndpi',
 '15-18391-RO4.ndpi',
 '14-5697-RO4.ndpi',
 '18-455-LO6.ndpi',
 '14-8974-LO1.ndpi',
 '17-11122-RO6.ndpi',
 '15-14920-RO4.ndpi',
 '14-3672-LO2.ndpi',
 '18-1778-RO1.ndpi',
 '16-9213-LO2.ndpi',
 '11-13079-L02.ndpi',
 '15-18140-RO1.ndpi',
 '17-1796-RO5.ndpi',
 '14-16939-RO3.ndpi',
 '17-6176-RO5.ndpi',
 '17-656-LO8.ndpi',
 '16-4783-FA10.ndpi',
 '12-9468-R02.ndpi',
 '18-5196-RO2.ndpi',
 '14-12678-FA3.ndpi',
 '15-9067-RO7.ndpi',
 '16-9291-RO5.ndpi',
 '15-20286-RO1.ndpi',
 '16-20015-RO8.ndpi',
 '15-20812-FA10.ndpi',
 '15-3981-RO13.ndpi',
 '11-11791-R06.ndpi',
 '17-6922-LO1.ndpi',
 '15-15582-RO4.ndpi',
 '15-20812-FA3.ndpi',
 '14-11184-RO9.ndpi',
 '16-8203-RO9.ndpi',
 '15-7889-LO3.ndpi',
 '15-14684-RO4.ndpi',
 '17-1796-LO8.ndpi',
 '18-7055-LO2.ndpi',
 '15-19538-LO1.ndpi']

In [2]:
import pandas as pd
import os


df = pd.read_csv("../../datasets_csv/baskent_os.csv")
case_df = df.drop_duplicates("case_id")
len(case_df), len(df)

(134, 929)

In [5]:
df = df.sample(frac=1., random_state=0).reset_index(drop=True)
df

      case_id      slide_id  age  event  survival_months  group
0    15-19009  15-19009-RO5   43      1            57.43    0.0
1     15-9536   15-9536-FA5   42      0            99.57    0.0
2     17-6176   17-6176-LO6   59      1            17.33    0.0
3     16-4273   16-4273-RO1   50      1            60.33    0.0
4    15-14684  15-14684-LO4   56      0            96.57    0.0
..        ...           ...  ...    ...              ...    ...
924   14-7175  14-7175-RO13   49      0           113.17    0.0
925   17-7977   17-7977-LO3   63      1            34.77    0.0
926  13-12838  13-12838-R03   72      1             3.97    0.0
927   18-5196   18-5196-RO6   44      0            65.53    0.0
928  16-20015  16-20015-RO9   56      1            18.17    0.0

[929 rows x 6 columns]

In [9]:
small_dataset = []
for i in df["case_id"].unique():
    small_dataset.append(df[df["case_id"] == i].iloc[:3])
small_dataset = pd.concat(small_dataset)
small_dataset["event"].value_counts(), df["event"].value_counts()

(1    255
 0    138
 Name: event, dtype: int64,
 1    545
 0    384
 Name: event, dtype: int64)

In [10]:
small_dataset["survival_months"].describe(), df["survival_months"].describe()

(count    393.000000
 mean      62.557990
 std       35.421308
 min        1.670000
 25%       34.770000
 50%       57.430000
 75%       93.170000
 max      148.200000
 Name: survival_months, dtype: float64,
 count    929.000000
 mean      64.917384
 std       34.160913
 min        1.670000
 25%       41.230000
 50%       63.830000
 75%       94.230000
 max      148.200000
 Name: survival_months, dtype: float64)

In [11]:
small_dataset.to_csv("../../datasets_csv/baskent.csv",index=False)

In [4]:
import pandas as pd
import os


df_os = pd.read_csv("../../datasets_csv/baskent_os.csv")
df_dfs = pd.read_csv("../../datasets_csv/baskent_dfs.csv")
print(len(df_os), len(df_os["case_id"].unique()))
print(len(df_dfs), len(df_dfs["case_id"].unique()))

393 134
222 76

In [6]:
393/134, 222/76

(2.9328358208955225, 2.9210526315789473)

In [8]:
df_os[["slide_id", "case_id"]].to_csv("/media/nfs/SURV/BasOVER/slide_list.csv", index=False)

In [14]:
import pandas as pd
import os


df_os = pd.read_csv("../../datasets_csv/baskent_os.csv")
df_dfs = pd.read_csv("../../datasets_csv/baskent_dfs.csv")
print(len(df_dfs), len(df_dfs["case_id"].unique()))
df_dfs = df_dfs[df_dfs["slide_id"].isin(df_os["slide_id"].values)]
print(len(df_dfs), len(df_dfs["case_id"].unique()))

513 76
222 76

In [15]:
df_dfs.to_csv("../../datasets_csv/baskent_dfs.csv", index=False)